html, body {
  background-color: #eeeeee;
  font-family: sans-serif;
}

/* Containers */
.content-outer {
  width: 100%;
  height: 100vh;
  padding: 30px 70px;
  min-width: 250px;
  min-height: 250px;
}

.content-inner {
  width: 100%;
  height: 100%;
}

.box {
  background-color: #fff;
  border: 1px solid black;
}

.canvas-container {
  display: none;
  /* display: flex after window load */
  min-width: 100;
  min-height: 100;
  position: relative;
}

/* Toolkit */
.toolkit {
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  left: -60px;
}

.options {
  text-align: center;
  padding: 10px 0;
  position: absolute;
  right: -60px;
}

.menu-item {
  display: block;
  padding: 10px;
  font-size: 1.5rem;
}

.menu-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.menu-item::selection {
    color: none;
    background: none;
}
/* For Mozilla Firefox */
.menu-item::-moz-selection {
    color: none;
    background: none;
}

.inactive {
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.5);
}

.blue-pen {
  color: rgb(0, 0, 255);
}

.blue-pen.inactive {
  color: rgb(0, 0, 255);
  color: rgba(0, 0, 255, 0.5);
}

.red-pen {
  color: rgb(255, 0, 0);
}

.red-pen.inactive {
  color: rgb(255, 0, 0);
  color: rgba(255, 0, 0, 0.5);
}

/* Cursors */
.default-cursor {
  cursor: default;
}

.erase-cursor {
  cursor: url("icons\\outline_crop_square_black_36dp.png") 18 18, default;
}

/* Disabled Features */
.disable {
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.5);
}

.disable:hover {
  background-color: #fff;
  cursor: default;
}
